html { width: 100%; position: relative; height: 100%; }
body {
  padding: 0;
  margin: 0;
  background: url(/static/img/background.png) #d5d5d5;
  font-family: "Signika", "Meta", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 775px;
  overflow-x: hidden;

  .button, .buttons a {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 6px 12px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background-color: #FCFCFC;
    background-image: -webkit-linear-gradient(top,
                                              rgba(255, 255, 255, .0) 0%,
                                              rgba(235, 235, 235, .3) 60%,
                                              rgba(225, 225, 225, .6) 100%);
    background-image: -moz-linear-gradient(top,
                                           rgba(255, 255, 255, .0) 0%,
                                           rgba(235, 235, 235, .3) 60%,
                                           rgba(225, 225, 225, .6) 100%);
    background-image: -o-linear-gradient(top,
                                         rgba(255, 255, 255, .0) 0%,
                                         rgba(235, 235, 235, .3) 60%,
                                         rgba(225, 225, 225, .6) 100%);
    background-image: linear-gradient(top,
                                      rgba(255, 255, 255, .0) 0%,
                                      rgba(235, 235, 235, .3) 60%,
                                      rgba(225, 225, 225, .6) 100%);
    background-clip: padding;
    cursor: pointer;
    overflow: hidden;
    color: #333;
    text-shadow: 0 1px 0 white;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;

    @include box-shadow:(0 1px 2px rgba(0, 0, 0, .02),
                         inset 0 1px 0 rgba(255, 255, 255, 1),
                         inset -1px 0 0 rgba(255, 255, 255, 1),
                         inset 0 -1px 0 rgba(255, 255, 255, .5),
                         inset 1px 0 0 rgba(255, 255, 255, 1));

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @include transition(color .3s,background-color .3s,border-color .3s,text-shadow .3s,-webkit-box-shadow .3s);
    text-decoration: none;
    padding: 3px 13px;
  }

  #menu {
    background: rgba(1.0, 1.0, 1.0, 0.55);
    width: 284px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    
    h1 {
      background: url(/static/img/logo.png) no-repeat top center;
      
      text-align: center;
      font-weight: 300;

      margin: 23px auto 0px;
      padding-top: 279px;
      font-size: 54px;

      text-transform: lowercase;
    }

    h2 {
      font-weight: 100;
      text-align: center;
      color: #ccc;
      font-size: 35px;
      margin: -20px 0 0 0;
      text-transform: lowercase;
    }

    #player {
      width: 256px;
      margin: 29px 22px 4px;
      overflow: hidden;
    }

    #footer {
      text-align: center;
      color: #ccc;
      width: 100%;
      position: absolute;
      bottom: 20px;

      a {
        text-decoration: none;
        border-bottom: 1px dashed #ccc;
        color: #ccc;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }

      .affiliates {
        margin: 10px auto 0;
        height: 27px;
        
        .powered {
          display: inline-block;
          margin: 5px 15px 0 0;
        }

        .soundcloud {
          display: inline-block;
          background: url(/static/img/soundcloud_gray.png) no-repeat bottom center;
          width: 58px;
          height: 25px;
          border: none;
          margin: 0 5px -6px 0;
          span {
            background: url(/static/img/soundcloud.png) no-repeat bottom center;
          }
        }

        .echonest {
          display: inline-block;
          background: url(/static/img/echonest_gray.png) no-repeat bottom center;
          width: 25px;
          height: 25px;
          margin: 0 0 -6px;
          border: none;
          span {
            background: url(/static/img/echonest.png) no-repeat bottom center;
          }
        }

        span {
          opacity: 0;
          -webkit-transition: opacity 1s linear;
          -moz-transition:    opacity 1s linear;
          -o-transition:      opacity 1s linear;
          transition:         opacity 1s linear;
        }
        span:hover {
          opacity: 1;
        }
      }
    }
  }
  
  #content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 500%;

    .stripe {
      position: absolute;
      background: white;
      height: 100px;
      top: 300px;
      width: 100%;
      opacity: 0.3;
      z-index: 0;
    }

    .track_container {
      position: relative;
      height: 450px;
    }

    .tracks {
      position: absolute;
      left: 284px;
      right: 0;
      padding: 40px;
      .track {
        height: 40px;
        margin: 10px 0;
        text-decoration: none;
        color: #000;
        
        &.hidden { opacity: 0; }
        &.new { margin-bottom: 500px; opacity: 0; }
        -webkit-transition: opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
        -moz-transition:    opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
        -o-transition:      opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
        transition:         opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;

        .coverart {
          position: relative;
          float: left;
          margin: 0 10px 0 0;
          height: 40px;
          -webkit-transition: height 1s;
          -moz-transition:    height 1s;
          -o-transition:      height 1s;
          transition:         height 1s;
          overflow: hidden;
          img {
            -webkit-transition: margin-top 1s;
            -moz-transition:    margin-top 1s;
            -o-transition:      margin-top 1s;
            transition:         margin-top 1s;
            margin-top: -30px;
          }
        }
        .text {
          padding-top: 0;
          -webkit-transition: padding-top 1s;
          -moz-transition:    padding-top 1s;
          -o-transition:      padding-top 1s;
          transition:         padding-top 1s;

          font-size: 32px;
          .title {
            -webkit-transition: font-size 1s;
            -moz-transition:    font-size 1s;
            -o-transition:      font-size 1s;
            transition:         font-size 1s;
            margin-bottom: -7px;
          }
          .artist {
            opacity: 0.3;
          }
        }
        .stats {
          @include transition(height 1s, margin-top 1s);

          height: 0;
          margin-top: 0;
          overflow: hidden;

          color: #a4a4a4;
          font-size: 10pt;

          span.count {
            padding: 0px 5px 0 15px;
          }
          span.playback.count {
            background: url(/static/img/sc_play.png) left center no-repeat;
          }
          span.download.count {
            background: url(/static/img/sc_down.png) left center no-repeat;
          }
          span.favoritings.count {
            background: url(/static/img/sc_heart.png) left center no-repeat;
          }
        }
        .buttons {
          height: 0;
          overflow: hidden;
          float: left;
          @include transition(height 1s);
        }
      }
    }

    .tracks#tracks {
      bottom: 0;

      .track {
        height: 0;
        display: none;
      }

      @for $i from 0 through 5 {
        .track:nth-last-child($i) {
          opacity: (1 - $i/6);
          height: 40px;
          display: block;
        }
      }

      .track:hover {
        height: 100px;
        .coverart {
          height: 100px;
          img {
            margin-top: 0;
          }
        }
        .text {
          padding-top: 28px;
        }
        .stats {
          height: 16px;
          margin-top: 4px;
        }
      }

      .track:last-child {
        height: 100px;
        opacity: 1;
        .coverart {
          height: 100px;
          img {
            margin-top: 0;
          }
        }
        .text {
          padding-top: 0;
          height: 72px;
          .title {
            display: block;
            font-size: 40px;
          }
          .artist {
            display: block;
            opacity: 0.5;
            font-size: 20px;
            padding: 0 3px;
            float: left;
          }
        }
        .stats {
          display: inline;
          height: 24px;
          margin: 5px 0 0 10px;
          padding: 0;
        }
        .buttons {
          height: 26px;
        }
      }
    }

    .tracks#done {
      position: absolute;
      top: 700px;
      left: 284px;
      right: 0;
      overflow: hidden;
      padding: 0 40px;

      .track {
        display: none;
      }
      .track.hidden {
        display: block;
        height: 0;
      }
      @for $i from 0 through 1 {
        .track:nth-child($i) {
          opacity: (0.6 - $i/5);
          height: 40px;
          display: block;
        }
      }
    }

    #waveform {
      position: absolute;
      top: 420px;
      left: 0;
      height: 280px;
    }
  }
}
