<!DOCTYPE html>
<html>
	<head>
		<title>forever.fm</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="description" content="Bork." />
		
		<meta name="og:title" content="forever.fm" />
		<meta name="og:type" content="non_profit" />
		<meta name="og:url" content="http://forever.fm/" />
		<meta name="og:image" content="http://forever.fm/static/img/biglogo.png" />
		<meta name="og:description" content="Your infinite DJ." />
		<meta name="fb:admins" content="877490643" />

		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss', 'sprites.css') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' />

        <script type="text/javascript"
                src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
        <script type="text/javascript" src='{{ compiled(
          'soundmanager2-nodebug-jsmin.js',
          'berniecode-animator.js',
          '360player.js'
          ) }}'></script>
        <script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
        <script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
        <script type="text/javascript">
          {% if not debug %}
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-6427057-20']);
              _gaq.push(['_setDomainName', '.forever.fm']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl'
                  : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
              })();
          {% end %}
        </script>
	</head>
  <body>
    <div id="menu">
      <h1>
        Forever.FM
      </h1>
      <h2>
        Your Infinite DJ
      </h2>
      <div id="player">
        <div id="sm2-container"></div>
        <div class="ui360 ui360-vis">
          <a href="/all.mp3" type="audio/mpeg"></a>
        </div>
      </div>
      <div id="footer">
        by <a href="http://petersobot.com">peter sobot</a>
          <a href="http://petersobot.com/blog/introducing-forever-fm">about</a>
          <a href="mailto:forever@petersobot.com">contact</a>
        <div class="affiliates">
          <div class="powered">powered by:</div>
          <a class="soundcloud" target="_blank" href="http://soundcloud.com"><span class="soundcloud"></span></a>
          <a class="echonest" target="_blank" href="http://the.echonest.com"><span class="echonest"></span></a>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="track_container">
        <div class="tracks" id="tracks" data-limit="5"></div>
      </div>
      <canvas id="waveform" height="280px"></canvas>
      <div class="tracks" id="done" data-limit="5"></div>
    </div>
	</body>
</html>

