<!DOCTYPE html>
<html>
	<head>
		<title>forever.fm</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="description" content="Your infinite DJ. A never-ending stream of the hottest songs on SoundCloud." />
		
		<meta name="og:title" content="forever.fm" />
		<meta name="og:type" content="song" />
		<meta name="og:url" content="http://forever.fm/" />
		<meta name="og:image" content="http://forever.fm/static/img/biglogo.png" />
		<meta name="og:description" content="Your infinite DJ." />
		<meta name="fb:admins" content="877490643" />

		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'sprites.css',
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' />

        <script type="text/javascript"
          src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
        {% if open %}
        <script type="text/javascript" src='{{ compiled(
          'spin.min.js',
          'soundmanager2-nodebug-jsmin.js',
          'berniecode-animator.js',
          '360player.js'
          ) }}'></script>
        <script type="text/javascript" src='http://connect.soundcloud.com/sdk.js'></script>
        <script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
        <script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
        {% end %}
        <script type="text/javascript">
          {% if not debug %}
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-6427057-20']);
              _gaq.push(['_setDomainName', '.forever.fm']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl'
                  : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
              })();
          {% end %}
        </script>
	</head>
  <body>
    <a id="banner" href="http://the.wubmachine.com/" target="_blank"></a>
    <div id="menu">
      <div id="logo"></div>
      <div id="social">
          <a href="http://twitter.com/share" class="twitter-share-button"
             data-count="horizontal" data-text="I'm listening to">
              Tweet
          </a>
          <script type="text/javascript">
              (function(){
                  var tw = document.createElement('script');
                  tw.type = "text/javascript";
                  tw.async = true;
                  tw.src = "http://platform.twitter.com/widgets.js";
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(tw, s);
              })();
            </script>
            <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=464728733570013";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like"
            data-href="http://forever.fm"
            data-send="false"
            data-layout="button_count"
            data-width="450"
            data-show-faces="false"
            data-font="lucida grande"></div>
      </div>
      <h1>
        Forever.FM
      </h1>
      <h2>
        Your Infinite DJ
      </h2>
      <div id="player">
        <div id="sm2-container"></div>
        <div class="ui360 ui360-vis">
          <a id="endpoint_link" href="{{ endpoint }}" type="audio/mpeg"></a>
        </div>
      </div>
      <div id="footer">
        by <a href="http://petersobot.com" target="_blank">peter sobot</a>
          <a href="http://petersobot.com/blog/introducing-forever-fm" target="_blank">about</a>
          <a href="mailto:forever@petersobot.com">contact</a>
        <div class="affiliates">
          <div class="powered">powered by:</div>
          <a class="soundcloud"
             target="_blank"
             href="http://soundcloud.com"
             title="Tracks found on SoundCloud"><span class="soundcloud"></span></a>
          <a class="echonest"
             target="_blank"
             href="http://the.echonest.com"
             title="Audio analysis by the Echo Nest"><span class="echonest"></span></a>
        </div>
      </div>
    </div>
    <div id="content">
      {% if open %}
      <div class="track_container">
        <div class="tracks" id="tracks"></div>
      </div>
      <canvas id="waveform" height="280px"></canvas>
      <div class="tracks" id="done"></div>
      {% else %}
      <div id="message" style="width: 80%; margin: 15% 0 0 15%; text-align: center; font-size: 2em;">
	  <h1>We're sorry...</h1>
      <p>
            Forever.fm is currently <strong>over capacity</strong>.
            Please check back soon!
      </p>
      </div>
    {% end %}
    </div>
	</body>
</html>

